* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #fff;
}
::selection {
    background: #95c11e;
    color: #000;
}
html, body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    position: relative;
}
.cursor {
    width: 20px;
    height: 20px;
    background-color: #95c11e;
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
}
.cursor-br{
    width: 300px;
    height: 300px;
    background-color: #d3ff5959;
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    filter: blur(70px);
    z-index: 9;
}
.nav {
    position: fixed;
    height: 130px;
    width: 100%;
    padding: 0 60px;
    gap: 30px;
    display: flex;
    align-items : center;
    justify-content: flex-start;
    z-index: 999;
}
.nav img {
    height: 70px;
}
.nav h4 {
    text-transform: uppercase;
    font-weight: 500;
}
.nav h4:hover {
    color: #95c11e;
}
.buttons {
    display: flex;
    align-items: center;    
    justify-content: center;
    gap: 0.4rem;
    margin-left: 1rem;
}
.nav-btn {
    width: 170px;
    height: 48px;
    color: #fff;
    background: #000000;
    border: 2px solid #95c11e;
    border-radius: 2rem;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
}
video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
.main-div {
    position: relative;
    background: rgb(0, 0, 0, 0.326);
}
.page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.page1 h1 {
    font-size: 90px;
    font-weight: 900;
    line-height: .86;
    letter-spacing: .02em;
    text-transform: uppercase;
    position: relative;
    margin-top: 2rem;
}
.page1 h1::before {
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    top: -.3rem;
    left: -.3rem;
    width: 100%;
    color: #000;
    text-shadow: -1px -1px 0 #95c11e, 1px -1px 0 #95c11e, -1px 1px 0 #95c11e, 1px 1px 0 #95c11e;
    z-index: -1;
}
.page1 h2 {
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 2.4rem;
}
.page1 p {
    font-size: 17px;
    font-weight: 500;
    width: 45%;
    text-align: center;
    margin-top: 1rem;
    line-height: 1.5;
}
.page2 {
    min-height: 100vh;
    width: 100%;
    z-index: 9;
    position: relative;
}

.text-scroller {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
}
.text-scroller::-webkit-scrollbar {
    display: none;
}
.text-scroller h4 {
    text-transform:uppercase;
    display: inline-block;
    font-size: 5.5rem;
    font-family: "Outfit", sans-serif;
    font-weight: 900;
    color: #000;
    -webkit-text-stroke: 2px #fff;
}
.text-scroller h4:hover {
    color: #95c11e;
    -webkit-text-stroke: 0.2px #000;
}

.t-scroller-in-1,
.t-scroller-in-2 {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 30s linear infinite;
}

.about-us {
  height: 40vh;
  width: 100%;
  display: flex;
  padding: 0 50px;
  align-items: center;
  position: relative;
  z-index: 999;
  justify-content: space-around;
  margin-top: 5rem;
}
.about-img {
    width: 10vw;
    height: 25vh;
    border-radius: 0.8rem;
    position: relative;
}
.a-i-2 {
    height: 33vh;
}
.about-img img {
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    object-fit: cover;
}

.about-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.315);
    border-radius: 0.8rem;
}
.about-in {
    width: 49vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}
.about-in h3 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
}
.about-in p {
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
    text-align: center;
    margin-top: 2rem;
}
.about-in span {
    margin-top: 1.5rem;
    font-size : 18px;
    text-align: center;
}

.page3 {
    width: 100%;
    height: auto;
    margin-bottom: 6rem;
}
.cards-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.4rem;
    position: relative;
    z-index: 10;
}
.card {
    width: 27%;
    height: 100%;
    background: #95c11e;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all ease 0.6s;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(20deg, #B3E824, #87ad1d);
    color: #000;
    opacity: 0;
    transition: all ease 0.2s;
}
.overlay i {
    font-size: 3rem;
    border: 2px solid #000;
    border-radius: 50%;
    padding: 1.2rem;
    position: absolute;
    top: -1.2rem;
    right: -1rem;
    color: #000;
    background-color: transparent;
    cursor: pointer;
}
.overlay i:hover {
    background-color: #fff;
    color: #95c11e;
}
.overlay h4 {
    width: 80%;
    color: #000;
    font-size: 1.6rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 7rem;
    margin-left: 2rem;
    letter-spacing: 0.1rem;
}
.overlay p {
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 2rem;
    padding: 0 1rem;
    line-height: 2;
}
.card1 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
.card2 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
.card3 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
.card h3 {
    text-transform: uppercase;
    font-size: 1.7rem;
    margin-left: 1.4rem;
    margin-top: 34rem;
}
.card:hover .overlay {
    opacity: 1;
}
.card:hover{ 
    transform: rotate3d(1,1,0, 13deg);
}
.sign-up-div {
    margin-top: 8rem;
    width: 100%;
    height: 45vh;
    background: linear-gradient(18deg, #B3E824, #95c11e, #039c3d);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sign-up-div img {
    width: 12%;
    height: 100%;
    object-fit: cover;
}
.sign-text {
    width: 60%;
    display: flex;
    align-items: center;
    z-index: 11;
}
.sign-up-div h3 {
    font-size: 2rem;
    font-weight: 800;
    color: #000;
    text-align: center;
    text-transform: uppercase;
}

.page4 {
    width: 100%;
    height: 100vh;
    border: 2px solid red;
}

.page5 {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
}

.page5 p {
    font-size: 1.3rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.5;
     width: 60%;
   line-height: 45px;
  text-align: center;
}
.quote-img {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 99;
}
.quote-left {
  left: 15%;
  top: 15%;
}
.quote-right {
  bottom: 25%;
  right: 15%;
}

.page6 {
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.page6 h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 4.3rem;
    font-family: "Outfit", sans-serif;
    color: #000;
    -webkit-text-stroke: 1.2px #fff;
    position: absolute;
    top: -6%;
}
.page6-2 {
    width: 85%;
    height: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 9;
    position: relative;

}
.p6-img-d {
    width: 32%;
    height: 80%;
    background-color: #B3E824;
    border-radius: 15px;
    transition: all ease 0.3s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.p6-img-d h3 {
    position: absolute;
    font-size: 1.8rem;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    top: 37%;
    left: 10%;
    z-index: 3;
}
.p6-img-d img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    opacity: 0;
    transition: all ease 0.5s;
    z-index: 2;
    scale: 1.1;
    position: relative;
}
.p6-img-d:hover .p6-img {
    opacity: 1;
    scale: 1;
}
.p6-img-d:hover .p6-h3 {
    color: #fff;
}

.footer {
    width: 100%;
    height: 60vh;
    background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.fdot-img {
  position: absolute;
  left: 0;
  width: 30%;
  height: 60%;
  z-index: 0;
}

.footer-row1 {
  height: 70%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6.5vw;
  padding: 0 100px;
}

#f1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#f1 img {
  height: 100px;
}
.social {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social i {
    font-size: 2rem;
    color: #000;
}
#f1,
#f2,
#f3,
#f4 {
  width: fit-content;
  position: relative;
  z-index: 99;
  /* background-color: red; */
}
#f2 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  margin-bottom: 8px;
}

#f3 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 800;
  margin-bottom: 8px;
}
#f4 h4 {
  font-size: 1vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
}

/* animation for text scroller page2 */
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}