* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #fff;
}
*::selection {
    background: #95c11e;
    color: #000;
}
body::-webkit-scrollbar {
  display: block;
  width: 8px;
  background: #000;
}
body::-webkit-scrollbar-thumb {
  background-color: #95c11e;
  border-radius: 50px;
}
html, body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
}
.cursor {
    width: 20px;
    height: 20px;
    background-color: #95c11e;
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
}
.cursor-br{
    width: 300px;
    height: 300px;
    background-color: #d3ff5959;
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    filter: blur(70px);
    z-index: 9;
}
.nav {
    position: fixed;
    height: 130px;
    width: 100%;
    padding: 0 60px;
    gap: 30px;
    display: flex;
    align-items : center;
    justify-content: flex-start;
    z-index: 999;
}
.nav img {
    height: 70px;
}
.nav h4 {
    text-transform: uppercase;
    font-weight: 500;
}
.nav h4:hover {
    color: #95c11e;
}
.buttons {
    display: flex;
    align-items: center;    
    justify-content: center;
    gap: 0.4rem;
    margin-left: 1rem;
}
.nav-btn {
    width: 170px;
    height: 48px;
    color: #fff;
    background: #000000;
    border: 2px solid #95c11e;
    border-radius: 2rem;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
}
video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
.main-div {
    position: relative;
    background: rgb(0, 0, 0, 0.326);
}
.page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.page1 h1 {
    font-size: 90px;
    font-weight: 900;
    line-height: .86;
    letter-spacing: .02em;
    text-transform: uppercase;
    position: relative;
    margin-top: 2rem;
}
.page1 h1::before {
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    top: -.3rem;
    left: -.3rem;
    width: 100%;
    color: #000;
    text-shadow: -1px -1px 0 #95c11e, 1px -1px 0 #95c11e, -1px 1px 0 #95c11e, 1px 1px 0 #95c11e;
    z-index: -1;
}
.page1 h2 {
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 2.4rem;
}
.page1 p {
    font-size: 17px;
    font-weight: 500;
    width: 45%;
    text-align: center;
    margin-top: 1rem;
    line-height: 1.5;
}
.page2 {
    min-height: 100vh;
    width: 100%;
    z-index: 9;
    position: relative;
}

.text-scroller {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
}
.text-scroller::-webkit-scrollbar {
    display: none;
}
.text-scroller h4 {
    text-transform:uppercase;
    display: inline-block;
    font-size: 5.5rem;
    font-family: "Outfit", sans-serif;
    font-weight: 900;
    color: #000;
    -webkit-text-stroke: 2px #fff;
}
.text-scroller h4:hover {
    color: #95c11e;
    -webkit-text-stroke: 0.2px #000;
}

.t-scroller-in-1,
.t-scroller-in-2 {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 30s linear infinite;
}

.about-us {
  height: 40vh;
  width: 100%;
  display: flex;
  padding: 0 50px;
  align-items: center;
  position: relative;
  z-index: 999;
  justify-content: space-around;
  margin-top: 5rem;
}
.about-img {
    width: 10vw;
    height: 25vh;
    border-radius: 0.8rem;
    position: relative;
}
.a-i-2 {
    height: 33vh;
}
.about-img img {
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    object-fit: cover;
}

.about-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.315);
    border-radius: 0.8rem;
}
.about-in {
    width: 49vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}
.about-in h3 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
}
.about-in p {
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
    text-align: center;
    margin-top: 2rem;
}
.about-in span {
    margin-top: 1.5rem;
    font-size : 18px;
    text-align: center;
}

.page3 {
    width: 100%;
    height: auto;
    margin-bottom: 6rem;
}
.cards-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.4rem;
    position: relative;
    z-index: 10;
}
.card {
    width: 27%;
    height: 100%;
    background: #95c11e;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all ease 0.6s;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(20deg, #B3E824, #87ad1d);
    color: #000;
    opacity: 0;
    transition: all ease 0.2s;
}
.overlay i {
    font-size: 3rem;
    border: 2px solid #000;
    border-radius: 50%;
    padding: 1.2rem;
    position: absolute;
    top: -1.2rem;
    right: -1rem;
    color: #000;
    background-color: transparent;
    cursor: pointer;
}
.overlay i:hover {
    background-color: #fff;
    color: #95c11e;
}
.overlay h4 {
    width: 80%;
    color: #000;
    font-size: 1.6rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 7rem;
    margin-left: 2rem;
    letter-spacing: 0.1rem;
}
.overlay p {
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 2rem;
    padding: 0 1rem;
    line-height: 2;
}
.card1 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
.card2 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
.card3 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
.card h3 {
    text-transform: uppercase;
    font-size: 1.7rem;
    margin-left: 1.4rem;
    margin-top: 34rem;
}
.card:hover .overlay {
    opacity: 1;
}
.card:hover{ 
    transform: rotate3d(1,1,0, 13deg);
}
.sign-up-div {
    margin-top: 8rem;
    width: 100%;
    height: 45vh;
    background: linear-gradient(18deg, #B3E824, #95c11e, #039c3d);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sign-up-div img {
    width: 12%;
    height: 100%;
    object-fit: cover;
}
.sign-text {
    width: 60%;
    display: flex;
    align-items: center;
    z-index: 11;
}
.sign-up-div h3 {
    font-size: 2rem;
    font-weight: 800;
    color: #000;
    text-align: center;
    text-transform: uppercase;
}

.page4 {
    width: 100%;
    height: 85vh;
}
.food-s-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 3rem;
}
.food-slider, 
.food-slider {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.f-s-left {
    margin-left: 4rem;
}
.f-s-right {
    margin-left: 6rem;
}
.f-s-right h2{
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
}
.f-s-right p {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem 0;
}
.f-s-right p span {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 6vh;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  z-index: 10;
}

.slider-images {
  position: relative;
  width: 42vw;
  height: 63vh;
  border-radius: 1rem;
  overflow: hidden;
}
.slider-images::after {
    content: "";
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #d3ff5959;
    filter: blur(70px);
    border-radius: 2rem;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  height: 100%;
   border-radius: 1rem;
}
.slide.active {
  opacity: 1;
}

.slider-dots {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 15px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(192, 192, 192);
  cursor: pointer;
  transition: background 0.3s;
  position: relative;
}
.dot::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    padding: 3px;
    border: 3px solid #95c11e;
    border-radius: 50%;
    transform: translate(-35%, -35%) scale(0);
    opacity: 0;
    transition: transform 0.7s ease, opacity 0.3s ease;
}
.dot.active {
  background: #95c11e; /* highlight active dot */
}
.dot.active::after {
  transform: translate(-35%, -35%) scale(1);
  opacity: 1; /* outer ring appears only when active */
}

.page5 {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
}

.page5 p {
    font-size: 1.3rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.5;
     width: 60%;
   line-height: 45px;
  text-align: center;
}
.quote-img {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 99;
}
.quote-left {
  left: 15%;
  top: 15%;
}
.quote-right {
  bottom: 25%;
  right: 15%;
}

.page6 {
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.page6 h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 4.3rem;
    font-family: "Outfit", sans-serif;
    color: #000;
    -webkit-text-stroke: 1.2px #fff;
    position: absolute;
    top: -6%;
}
.page6-2 {
    width: 85%;
    height: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 9;
    position: relative;

}
.p6-img-d {
    width: 32%;
    height: 80%;
    background-color: #B3E824;
    border-radius: 15px;
    transition: all ease 0.3s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.p6-img-d h3 {
    position: absolute;
    font-size: 1.8rem;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    top: 37%;
    left: 10%;
    z-index: 3;
}
.p6-img-d img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    opacity: 0;
    transition: all ease 0.5s;
    z-index: 2;
    scale: 1.1;
    position: relative;
}
.p6-img-d:hover .p6-img {
    opacity: 1;
    scale: 1;
}
.p6-img-d:hover .p6-h3 {
    color: #fff;
}

.footer {
    width: 100%;
    height: 60vh;
    background: linear-gradient(18deg, #B3E824, #95c11e, #039c3d);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.fdot-img {
  position: absolute;
  left: 0;
  width: 30%;
  height: 60%;
  z-index: 0;
}

.footer-row1 {
  height: 70%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7vw;
  margin-top: 2rem;
  padding-left:140px;
  z-index: 99;
}

#f1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#f1 img {
  height: 95px;
  transition: all ease 0.2s;
}
.social {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social i {
    font-size: 2rem;
    color: #000;
    transition: all ease 0.3s;
}

#f1,
#f2,
#f3,
#f4 {
  width: fit-content;
  position: relative;
}
#f2 h3, #f3 h3 {
  font-size: 1.4rem;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  margin-bottom: 8px;
  cursor: pointer;
  transition: all ease 0.3s;
}

#f4 h4 {
  font-size: 1.1rem;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
}
#f4 span {
    font-weight: 700;
    color: #000;
    cursor: pointer;
    transition: all ease 0.3s;
}
.footer-row2 {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center; 
      z-index: 99;
}
.f-ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-li {
    list-style-type: none;
    font-size: 0.9rem;
    color: #000;
    font-weight: 500;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
    border-right: 2px solid #000;
    cursor: pointer;
    transition: all ease 0.3s;
}
.f-sl-li {
    border: none;
}
.f-last-li {
    margin-left: 3rem;
    border: none;
}

#f1 img:hover {
    scale: 0.9;
}
.social i:hover,
#f2 h3:hover,
#f3 h3:hover,
#f4 span:hover,
.f-ul .f-li:hover
 {
    color: #fff;
}

/* animation for text scroller page2 */
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}


@media screen and (max-width: 460px) {
    nav h4 {
        display: none;
    }
    .nav {
        padding: 0 0 0 20px;
        gap: 0;
    }
    .nav-btn {
        width: 120px;
        font-size: 10px;
        justify-content: space-between;
    }
    main {
        height: 100%;
    }
    .main-div {
        padding-bottom: 20px;
    }
    .page1 h1 {
        font-size: 50px;
        text-align: center;
    }
    .page1 h2 {
        font-size: 18px;
    }
    .page1 p {
        width: 100%;
    }
    .about-us {
        flex-direction: column;
    }
    .text-scroller h4 {
        font-size: 4rem;    
    }
    .about-us {
        height: auto;
        padding: 0;
        gap: 30px;
    }
    .about-img {
        width: 90vw;
    }
    .about-in {
        width: 100%;
    }
    .a-i-2 {
        height: 25vh;
    }
    .about-in h3 {
        font-size: 2rem;
    }
    .about-in p, 
    .about-in span {
        font-size: 14px;
        width: 99%;
    }
    .page3 {
        margin-top: 30px;
    }
    .cards-container {
        flex-direction: column;
        height: 110vh;
    }
    .card {
        width: 90%;
    }
    .card h3 {
        font-size: 1.4rem;
        margin-top: 65%;
    }
    .overlay h4 {
        font-size: 1.5rem;
        margin-top: 4rem;
        margin-left: 1rem;
    }
    .overlay p {
        font-size: 0.8rem;
        padding: 0 0.9rem;
    }
    .sign-up-div {
        height: 18vh;
        margin-top: 2rem;
    }
    .sign-up-div h3 {
        font-size: 1.3rem;
    }
    .page4 {
        height: auto;
    }
    .food-s-container {
        flex-direction: column;
        padding: 0 0 0 20px;
    }
    .food-slider {
        width: 100%;
    }
    .slider-images{
        width: 100%;
        height: 30vh;
    }
    .slider-dots {
        height: 3vh;
    }
    .f-s-right,
    .f-s-left {
        margin: 0;
    }
    .f-s-right p {
        width: 100%;
        gap: 1.2rem;
        margin: 1rem 0;
    }
    .f-s-right p span {
        font-size: 1rem;
        line-height: 3vh;
    }
    .page5 {
        height: 50vh;
    }
    .page5 p {
        font-size: 1rem;
        width: 85%;
        line-height: 30px;
    }
    .quote-img {
        width: 30px;
        height: 30px;
    }
    .quote-right {
        bottom: 10%;
    }
    .page6 {
        width: 100%;
        height: 100%;
        margin: 30px 0;
    }
    .page6-2 {
        width: 100%;
        height: 60vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .p6-img-d {
        width: 100%;
        height: 100%;
    }
    .footer {
        height: auto;
    }
    .footer-row1 {
        flex-direction: column;
        padding-left: 10px;
        align-items: flex-start;
        justify-content: center;
    }
    #f1 {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10px;
    }
    #f2 h3, #f3 h3 {
        font-size: 1.2rem;
        margin-bottom: 3px;
    }
    #f4 h4 {
        font-size: 1rem;
    }
    .fdot-img {
        display: none;
    }
    .f-ul {
       display: none;
    }
    .page6 h2 {
        font-size: 1.5rem;
    }
    .p6-img-d h3 {
        left: 15%;
    }
}

@media (min-width: 461px) and (max-width: 1000px) {
    nav h4 {
        display: none;
    }
    .nav {
        padding: 0 20px 0 20px;
        gap: 0;
        justify-content: space-between;
    }
    .nav-btn {
        width: 120px;
        font-size: 10px;
        justify-content: space-between;
    }
    main {
        height: 100%;
    }
    .main-div {
        padding-bottom: 20px;
    }
    .page1 h1 {
        font-size: 50px;
        text-align: center;
    }
    .page1 h2 {
        font-size: 18px;
    }
    .page1 p {
        width: 100%;
    }
    .about-us {
        flex-direction: column;
    }
    .text-scroller h4 {
        font-size: 4rem;    
    }
    .about-us {
        height: auto;
        padding: 0;
        gap: 30px;
    }
    .about-img {
        width: 90vw;
    }
    .about-in {
        width: 100%;
    }
    .a-i-2 {
        height: 25vh;
    }
    .about-in h3 {
        font-size: 2rem;
    }
    .about-in p, 
    .about-in span {
        font-size: 14px;
        width: 99%;
    }
    .page3 {
        margin-top: 30px;
    }
    .cards-container {
        flex-direction: column;
        height: 110vh;
    }
    .card {
        width: 90%;
    }
    .card h3 {
        font-size: 1.4rem;
        margin-top: 65%;
    }
    .overlay h4 {
        font-size: 1.5rem;
        margin-top: 4rem;
        margin-left: 1rem;
    }
    .overlay p {
        font-size: 0.8rem;
        padding: 0 0.9rem;
    }
    .sign-up-div {
        height: 18vh;
        margin-top: 2rem;
    }
    .sign-up-div h3 {
        font-size: 1.3rem;
    }
    .page4 {
        height: auto;
    }
    .food-s-container {
        flex-direction: column;
        padding: 0 0 0 20px;
    }
    .food-slider {
        width: 100%;
    }
    .slider-images{
        width: 100%;
        height: 30vh;
    }
    .slider-dots {
        height: 3vh;
    }
    .f-s-right,
    .f-s-left {
        margin: 0;
    }
    .f-s-right p {
        width: 100%;
        gap: 1.2rem;
        margin: 1rem 0;
    }
    .f-s-right p span {
        font-size: 1rem;
        line-height: 3vh;
    }
    .page5 {
        height: 50vh;
    }
    .page5 p {
        font-size: 1rem;
        width: 85%;
        line-height: 30px;
    }
    .quote-img {
        width: 30px;
        height: 30px;
    }
    .quote-right {
        bottom: 10%;
    }
    .page6 {
        width: 100%;
        height: 100%;
        margin: 30px 0;
    }
    .page6-2 {
        width: 100%;
        height: 60vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .p6-img-d {
        width: 100%;
        height: 100%;
    }
    .footer {
        height: auto;
    }
    .footer-row1 {
        flex-direction: column;
        padding-left: 10px;
        align-items: flex-start;
        justify-content: center;
    }
    #f1 {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10px;
    }
    #f2 h3, #f3 h3 {
        font-size: 1.2rem;
        margin-bottom: 3px;
    }
    #f4 h4 {
        font-size: 1rem;
    }
    .fdot-img {
        display: none;
    }
    .f-ul {
       display: none;
    }
    .page6 h2 {
        font-size: 1.5rem;
    }
    .p6-img-d h3 {
        left: 15%;
    }

}